[submodule "runtimes/native/vendor/wasm3"]
	path = runtimes/native/vendor/wasm3
	url = git://github.com/wasm3/wasm3
[submodule "runtimes/native/vendor/portaudio"]
	path = runtimes/native/vendor/portaudio
	url = git://github.com/PortAudio/portaudio
[submodule "runtimes/native/vendor/glfw"]
	path = runtimes/native/vendor/glfw
	url = git://github.com/glfw/glfw
