@use '../../styles/theme.scss';

:host {
  display: block;
  border: solid 1px gray;
  padding: 8px;
  border-radius: 4px;
  overflow: hidden;
  min-width: 280px;
  position: relative;
}

.devtools-wrapper {
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border-radius: 4px;
    background: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    width: 2em;
    height: 2em;
    cursor: pointer;
  }
}

.mouse-pos-list {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-gap: 16px;
}

.mouse-pos {
  white-space: nowrap;
}

.inline-section {
  display: flex;
  flex-flow: row nowrap;
  grid-gap: 16px;
  align-items: center;

  & > * {
    margin: 0;
  }
}

.flags-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 16px;

  & .flag-label {
    font-size: 0.875em;
  }
}

.tabs {
  display: flex;
  flex-flow: row nowrap;
  grid-gap: 4px;
  cursor: pointer;
  font-weight: 900;

  .tab-item {
    pointer-events: auto;
    padding: 4px;
  }

  .tab-item[data-active='1'] {
    border-bottom: 1px solid currentColor;
  }
}
