.ratio {
  display: grid;
  padding: 0;
  position: relative;
}

.ratio > * {
  grid-area: 1/1;
}

.innerSvg {
  visibility: hidden;
}

.content {
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
   left: 0;
   padding: 0;
   right: 0;
}